/*
The subset font files and the declarations below were copied from velut.
They exist because subsites can have characters that aren’t found on the main site, so the subsetting is different.
*/

@font-face {
  font-family: 'Alegreya Subset';
  src: url('alegreya-bold-subset.woff2') format('woff2'),
    url('alegreya-bold-subset.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya Subset';
  src: url('alegreya-bolditalic-subset.woff2') format('woff2'),
    url('alegreya-bolditalic-subset.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya Subset';
  src: url('alegreya-regular-subset.woff2') format('woff2'),
    url('alegreya-regular-subset.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'Alegreya', 'Alegreya Subset', serif;
}
